$color_1: black;
$color_2: white;
$font-family_1: "Lexend Mega", sans-serif;
$background-color_1: white;

body {
  margin: 0;
  font-family: $font-family_1;
  color: $color_1;
  background-color: $background-color_1;
  font-size: 22px;
  text-align: center;
}
a {
  color: $color_1;
}
h2 {
  margin: 0;
  padding: 10px;
}
h3 {
  margin: 0;
  padding: 10px;
}
h4 {
  margin: 0;
  padding: 10px;
}
p {
  margin: 0;
  padding: 10px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: cetner;
}
.navbar {
  display: flex;
  justify-content: space-around;
  margin: 0 10%;
  p {
    display: inline-block;
    padding: 10px 10px;
  }
}
.main {
  padding-top: 35px;
  opacity: 0.9;
}
.mission {
  display: flex;
  height: 300px;
  background-image: url("images/starsky.png");
  padding-top: 35px;
  .content {
    margin: auto;
    background-color: $background-color_1;
    width: 100%;
  }
}
#portfolio {
  min-height: 500px;
  margin: auto;
  padding-top: 70px;
}
.companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 10px;
    height: auto;
  }
  span {
    padding: 5px;
    min-width: 240px;
    font-weight: bold;
    text-align: center;
  }
}
.team {
  background-image: url("images/citylights.jpg");
  padding-top: 70px;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.teammate {
  padding: 10px;
  color: $color_2;
  flex-basis: 280px;
  img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
  }
}
.contact {
  padding-top: 20px;
}
.copyright {
  padding-top: 20px;
}
@media screen and (max-width: 480px) {
  body {
    width: 100%;
    .header {
      .navbar {
        display: block;
      }
    }
    .main {
      .mission {
        .content {
          background-color: transparent;
          color: white;
        }
      }
      #portfolio {
        .content {
          .companies {
            .company {
              display: block;
              img,
              span {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
